#landing #branding {
	
	background-color: white;

	.logo { max-width: 275px; }

}

@media #{ $small-only } {

#landing #branding {

	// Allow branding to cover the screen space

	display: table;
	width: 100%;
	height: 100vh;
	max-height: 100vh;

	.container { display: table-cell; vertical-align: middle; }
	.content { display: table; }

	.column { text-align: center; }

	// Logo sizing

	.logo {
		margin-top: -1em;
		padding-left: 0.35em;
		max-width: 78vw;
		max-height: 75vh;
	}

	// Style the navigation arrow to dissappear after use

	.arrow-down {
		
		$arrow-size: 38px;

		position: absolute;
		bottom: 1.65em;
		
		display: block;
		margin: 0 auto;
		
		width: 100vw;
		height: $arrow-size;
		max-width: none;
		border-radius: 0;
		opacity: 0.35;

		@include background("../images/icons/arrow-down.svg", $arrow-size auto, center center);

		@include vendorize(transition, opacity 0.35s ease-out);
		
		&.hidden,
		&:focus { opacity: 0; }

	}

}

}

@media #{ $medium-up } {

#landing #branding {
	
	position: relative;
	overflow: hidden;
	max-width: 100vw;
	width: 100%;

	.column > *:first-child { margin-top: 2.55em; }

	.letter-grid {
		
		position: absolute;
		top: 0px;
		left: -80.5px; // dynamic
		display: block;
		width: 1680px;
		height: 508px;

		@include background("../images/blank.png", 99%);
		@include vendorize(transform, translatez(0));

	}

	.letter-grid + a { display: none; }

	.content {
		padding-top: 192px;
		overflow-y: hidden;
	}

	.logo {
		margin-top: 96px;
		margin-left: -19px;
	}

	.arrow-down { display: none; }

}

}
