#landing #info {
		
	min-height: 280px;

	.content { padding-bottom: 16px; }

	.column { margin-top: 1.0em; }

	// Pull back the highlight wrappers
	.column > div { margin-left: -1 * $highlight-indent; }

	.label.large {
		display: block;
		margin-top: 0.35em;
		line-height: 1.65;
	} 

	h1 { display: none; } // Hide information labels on desktop

	span, a { font-family: "Proxima Nova"; }

	// @TODO Replace arbitrary typographic styles with semantic classes
	.column:first-child,
	.schedule,
	.address {
		span:first-child { font-weight: $font-weight-semibold; }
	}

	.notice {
		font-style: italic;
		text-transform: capitalize;
	}

	.schedule li {
		span { display: block; margin-top: 0.5em; }
		&:first-child span { margin-top: 0; }
	}

	.date-time,
	.address {
		margin-top: 0;
		span { display: inline; }
	}

	.address span { line-height: 1.8; }

}

@media #{ $small-only } {

#landing #info {

	.content { margin-top: 24px; }
	.column { margin-top: 1.15em; }

	h1 {
		display: inline-block; // for highlight (background) rendering
		padding: 3px 2px 0 14px;
		letter-spacing: 0.45em;
		@include same (font-size, margin-top, 1.72rem);
		@include background("../images/highlight-stroke-yellow_2x.png", 100% 66.67%, left top);
	}

}

}
