#landing #previews {

	position: relative;

	.content {
		@include same(margin-top, margin-bottom, 0);
		width: 100%;
		height: 100vh;
		overflow-y: hidden;
	}

	.row {
		height: 100vh;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	ul.preview-cards {

		padding-top: 76px;
		padding-bottom: 32px;

		display: webkit-flex;
		-webkit-flex-flow: row wrap;
		
		display: flex;
		flex-flow: row wrap;

	}

}

@media #{ $small-only } {

#landing #previews {

	

}

}

@media #{ $medium-up } {

#landing #previews {

	

}

}
