.preview-card {

	overflow: hidden;

	@include same(padding-top, padding-bottom, 1.0em);

	&:not(:last-child) {
		border-bottom: 1px solid darken(white, 10%);
	}

	.content-wrapper {

		overflow: hidden;

		span { @include vendorize(transition, color 0.35s ease-in-out); }
		
		.project-title {
			margin-top: 0;
			font-size: 1.35rem;
		}

		.project-students .label {
			font-size: 1.15rem;
			&:first-child { margin-top: 0.35em; }
		}

	}

}

@media #{ $medium-up } {

.preview-card {

	position: relative;
	margin-top: 4.0em;
	min-height: 196px;
	
	@include same(padding-right, padding-bottom, 18px);
	
	&:not(:last-child) { border: none; }

	.content-wrapper {

		position: absolute;
		bottom: 0;
		overflow: hidden;
		margin-right: 24px;
		padding: 26px 18px 24px;
		width: 88%;
		background-color: rgba(white, 0.0);

		@include vendorize(transition, background-color 0.35s ease-out);
		
		&:hover {
			color: rgba(black, 0.94);
			background-color: rgba(white, 1.0);
		}

		span { cursor: default; }

	}

	.project-students .label:first-child { margin-top: 0.5em; }

}

}
