#landing .project-select {

	overflow-y: hidden;

	ul.students-list li.student {
		span a {
			padding-bottom: 0;
			border: none;
		}
	}

}

@media #{ $medium-up } {

#landing .project-select {
	
	ul.students-list {

		// See: http://bennettfeely.com/flexplorer/

		// Safari 6.1+
		display: -webkit-flex;
		-webkit-flex-flow: row wrap;
		
		// Chrome 29+, Firefox 28+, IE11+
		display: flex;
		flex-flow: row wrap;
		
	}

}

}

@media #{ $small-only } {

#landing .project-select {

}

}

@media #{ $medium-only } {

#landing .project-select {

	height: 42.5vh;

	ul.students-list li.student { @include vendorize(flex, 0 1 25%); }
	ul.students-list li.student:nth-child(n+5) span { margin-top: 0.76em; }

}

}

@media #{ $large-only } {

#landing .project-select {

	height: 33.33vh;

	ul.students-list li.student { @include vendorize(flex, 0 1 20.0%); }
	ul.students-list li.student:nth-child(n+6) span { margin-top: 0.76em; }

}

}
