#landing .project-preview {

	@include background("../images/preview/abc.png", auto 120%);

	overflow-y: hidden;

	.preview-info {

		overflow-y: hidden;

		*:first-child { margin-top: 0; }

		.project-title,
		.project-subtitle,
		.project-detail { padding-right: 2.5em; }

		.project-subtitle { margin-top: 1.65em; }

		.project-students li:first-child span { margin-top: 1.0em; }
		.project-students li:not(:first-child) span { margin-top: 0.35em; }
		.project-students li:not(:last-child) span:after {
			margin-top: 0;
			margin-left: 4px;
			content: "\0026";
		}

		.project-headshot {
			margin-top: 24px;
			padding-left: 24px;
			width: auto;
			height: 180px;
		}
		
	}

	.container,
	.content,
	.row,
	.preview-image {
		@include same(margin-top, margin-bottom, padding-top, padding-bottom, 0);
		height: inherit;
	}

	.preview-image {

		text-align: right;

		a.view-project {
			display: none;
			// display: inline-block; // for highlight (background) rendering
			// padding: 5px 14px 0;
			// @include background("../images/highlight-stroke-yellow_2x.png", 100% 100%, left top);
			// span { margin-top: 0; }
		}

	}

}

@media #{ $small-only } {

#landing .project-preview { display: none; }

}

@media #{ $medium-only } {

#landing .project-preview {
	
	// height: 50vh;
	// min-height: 450px;
	height: 450px;
	
	.project-headshot { display: none; }

}

}

@media #{ $large-up } {

#landing .project-preview {
	// height: 66.66vh;
	// min-height: 450px;
	height: 480px;
}

}
