sliding-preview {

	ul.preview-buffer {

		position: fixed;
		@include same(top, left, 0);
		width: 100vw;
		height: 100vh;

		z-index: -999;
		pointer-events: none;

		opacity: 0.0;
		@include vendorize(transition, opacity 0.35s ease-in-out);
		&.visible { opacity: 1.0; }
	
		li.preview {

			position: absolute;
			top: $ss-desktop-header-height;
			
			display: block;

			@include same(left, right, bottom, 0);

			@include background("../images/blank.png");

			@include vendorize(transition, (
				// margin-top 0.2s ease-out,
				opacity 0.4s ease-out
				));

			&.active {
				// margin-top: 0;
				opacity: 1.0;
			}
			
			&:not(.active) {
				// margin-top: 16vh;
				opacity: 0.0;
			}

		}

	}

}

@media #{ $small-only } {

	sliding-preview { display: none; }

}
