/**
 * @file _colors.scss
 * @author Michael Zalla
 * @date 12-01-2014
 *
 * Contains information about color variables used in partial files.
 */

$color-type-default: 	lighten(black, 22);
$color-anchor-default: 	rgba(black, 0.40);
$color-anchor-hover: 	rgba(black, 0.65);

$color-gray-1: rgb(255, 255, 255);
$color-gray-2: rgb(245, 247, 250);
$color-gray-3: rgb(230, 233, 237);
$color-gray-4: rgb(230, 231, 232);

$grcd-neon-yellow: 	rgb(255, 253, 055);
$grcd-neon-pink: 	rgb(252, 070, 179);
$grcd-neon-blue:  	rgb(083, 237, 252);
$grcd-neon-green:  	rgb(055, 235, 091);
