/**
 * @file _header.scss
 * @author Michael Zalla
 * @date 12-01-2014
 *
 * Contains styles for the site header and navigation.
 */

/* Header styles */

$logo-height: 26px;
$logo-width: 136px;

header {
	
	display: table;
	width: 100%;
	background-color: white;
	
	@include vendorize("transition", (
		top 0.35s ease-in-out,
		background-color 0.125s ease-in
		));

	.container,
	.content { height: inherit; }

	.container {
		display: table-cell; 
		vertical-align: middle;
	}

	.content {
		overflow: hidden;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	/* Suppress mouse events except for navigation items */

	pointer-events: none;
	
	a,
	.right { pointer-events: auto; }

	/* Branding */

	.left {
		width: 136px;
		height: 100%;
		overflow: hidden;
	}

	#logo {
		margin: 0 !important;
		padding-bottom: 4px;
		@include background("../images/branding/grcd-2015-title.png", $logo-width $logo-height, left center);
	}

	/* Responsive menu navigation */

	.ss-header-navigation {
		
		@include vendorize("transition", left 0.18s ease-in-out);

		.label { font-size: 0.84rem; }
		.label, a { margin-top: 0; }

	}

}

/* Fixed-position header */

header.fixed {
	position: fixed;
	top: 0;
	float: left;
	width: 100%;
	z-index: 999;
}

header.hidden { top: -94px; }

/* Mobile styles */

@media #{ $small-only } {

header {

	$content-height: $ss-mobile-header-height - (8px * 2);

	height: $ss-mobile-header-height;

	#logo {
		padding-left: $content-height * 5.22; // maintain proportions
		height: $content-height;
		background-position-y: ($content-height / 2) - ($logo-height / 2);
	}

	.right {
		margin-top: 18px;
		cursor: pointer;
	}

	.ss-header-navigation {

		position: absolute;
		top: 0px;
		left: 0px;
		height: 100vh;
		z-index: -1;

		background-color: white;

		.content {
			margin: 0px auto !important;
			width: 100vw !important;
			height: auto !important;
		}
		
		a {
			// display: block;
		}

		li {
			display: block;
			padding-top: 28px;
			padding-bottom: 28px;
			color: rgba(black, 0.65);
			// Account for fixed page header
			&:first-child { margin-top: $ss-mobile-header-height / 2; }
			&:not(:last-child) { border-bottom: 1px solid rgba(black, 0.08); }
		}

		.label {
			padding-left: 14px;
			font-size: 1.35rem;
		}

	}

	.ss-header-navigation-toggle {
		display: none !important;
		@include hamburger(30px, 3px, rgba(black, 0.18));
	}
	
	.ss-header-navigation-toggle,
	.ss-header-navigation-toggle:before,
	.ss-header-navigation-toggle:after {
		@include vendorize("transition", background-color 0.18s ease-in-out);
	}
	
	.ss-header-navigation:not(.expanded) {
		left: -100vw;
		& ~ .ss-header-navigation-toggle,
		& ~ .ss-header-navigation-toggle:before,
		& ~ .ss-header-navigation-toggle:after { background-color: rgba(black, 0.35); }
	}

}

}

/* Tablet styles */

@media #{ $medium-only } {

header {

	

}

}

/* Desktop styles */

@media #{ $medium-up } {

header {

	$content-height: $ss-desktop-header-height - (8px * 2);

	height: $ss-desktop-header-height;

	#logo {
		padding-left: $content-height * 5.22; // maintain proportion
		height: $content-height;
		background-position-y: ($content-height / 2) - ($logo-height / 2);
	}

	.ss-header-navigation-toggle { display: none; }
	
	.ss-header-navigation { margin-top: 24px; }
	
	.ss-header-navigation .content {

		margin: 0;
		padding: 0;

		li {
			
			display: inline-block;
			padding: 12px 2px 3px;
			cursor: pointer;

			border-bottom: 0px solid transparent;
			@include vendorize(transition, (
				border-color 0.35s ease-out,
				border-width 0.15s ease-out
			));
			
		}

		li:not(:first-child) { margin-left: 45px; }
		
		li.filter-menu-toggle {

			padding: 12px 36px 9px 14px;
			border-radius: 6px;

			color: darken(white, 35%);
			background-color: darken(white, 8%);
			@include background("../images/icons/arrow-down-dark.svg", auto 8px, right 12px top 15px);
			
			@include vendorize("transition", background-color 0.18s ease-in-out);

			span { @include vendorize("transition", color 0s linear !important); }

			&:hover {
				color: darken(white, 3%);
				background-color: darken(white, 40%);
				background-image: url('../images/icons/arrow-down-light.svg');
			}

		}

		li:hover,
		li.active {
			&.about 		{ border-bottom: 4px solid $grcd-neon-yellow 	!important; }
			&.print 		{ border-bottom: 4px solid $grcd-neon-pink 	 	!important; }
			&.motion 		{ border-bottom: 4px solid $grcd-neon-blue  	!important; }
			&.interaction 	{ border-bottom: 4px solid $grcd-neon-green 	!important; }
		}

	}
	
}

}
