/**
 * @file _header.scss
 * @author Michael Zalla
 * @date 12-01-2014
 *
 * Contains styles for the site header and navigation.
 */

/* Header styles */

$logo-height: 26px;
$logo-width: 136px;

header {
	
	display: table;
	width: 100%;
	background-color: white;
	
	@include vendorize("transition", background-color 0.125s ease-in);

	.container,
	.content { height: inherit; }

	.container {
		display: table-cell; 
		vertical-align: middle;
	}

	.content {
		overflow: hidden;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	/* Branding */

	.left {
		width: 224px;
		height: 100%;
		overflow: hidden;
	}

	#logo {
		margin: 0 !important;
		padding-bottom: 4px;
		@include background("/images/grcd-2015-title.png", $logo-width $logo-height, left top);
	}

	/* Responsive menu navigation */

	.ss-header-navigation {
		
		@include vendorize("transition", left 0.18s ease-in-out);

		.label { font-size: 0.76rem; }
		.label, a { margin-top: 0; }

	}

}

/* Fixed-position header */

header.fixed {
	position: fixed;
	top: 0;
	float: left;
	width: 100%;
	z-index: 999;
}

/* Mobile styles */

@media #{ $small-only } {

header {

	$content-height: $ss-mobile-header-height - (8px * 2);

	height: $ss-mobile-header-height;

	#logo {
		padding-left: $content-height * 5.22; // maintain proportions
		height: $content-height;
		background-position-y: ($content-height / 2) - ($logo-height / 2);
	}

	/* Hamburger menu container */

	.right {
		margin-top: 18px;
		cursor: pointer;
	}

	.ss-header-navigation {

		position: absolute;
		top: 0px;
		left: 0px;
		height: 100vh;
		z-index: -1;

		background-color: white;

		.content {
			margin: 0px auto !important;
			width: 100vw !important;
			height: auto !important;
		}

		li {
			
			display: block;
			padding-top: 28px;
			padding-bottom: 28px;
			
			// Account for fixed page header
			&:first-child { margin-top: $ss-mobile-header-height / 2; }
			&:not(:last-child) { border-bottom: 1px solid rgba(black, 0.08); }

		}

		a { color: rgba(black, 0.65); }

		.label {
			padding-left: 14px;
			font-size: 1.35rem;
		}

	}

	/* Hamburger menu */

	.ss-header-navigation-toggle { @include hamburger(30px, 3px, rgba(black, 0.18)); }
	
	.ss-header-navigation-toggle,
	.ss-header-navigation-toggle:before,
	.ss-header-navigation-toggle:after {
		@include vendorize("transition", background-color 0.18s ease-in-out);
	}
	
	.ss-header-navigation:not(.expanded) {
		left: -100vw;
		& ~ .ss-header-navigation-toggle,
		& ~ .ss-header-navigation-toggle:before,
		& ~ .ss-header-navigation-toggle:after { background-color: rgba(black, 0.35); }
	}

}

}

/* Tablet styles */

@media #{ $medium-only } {

header {

	

}

}

/* Desktop styles */

@media #{ $medium-up } {

header {

	$content-height: $ss-desktop-header-height - (8px * 2);

	height: $ss-desktop-header-height;

	#logo {
		padding-left: $content-height * 5.22; // maintain proportion
		height: $content-height;
		background-position-y: ($content-height / 2) - ($logo-height / 2);
	}

	.ss-header-navigation-toggle { display: none; }
	.ss-header-navigation { margin-top: 30px; }
	.ss-header-navigation .content {

		margin: 0;
		padding: 0;

		li {
			
			display: inline-block;
			padding: 0px 2px 2px;
			cursor: pointer;

			border-bottom: 0px solid transparent;
			@include vendorize(transition, (
				border-color 0.35s ease-out,
				border-width 0.15s ease-out
			));
			
		}

		li:not(:first-child) { margin-left: 58px; }
		
		li.print:hover 		 { border-bottom: 4px solid $grcd-neon-pink 	!important; }
		li.motion:hover 	 { border-bottom: 4px solid $grcd-neon-blue 	!important; }
		li.interaction:hover { border-bottom: 4px solid $grcd-neon-green 	!important; }
		li.about:hover 		 { border-bottom: 4px solid $grcd-neon-yellow 	!important; }

	}
	
}

}