#landing {

	$highlight-indent: 14px;

	section#branding {
		
		// position: relative;

		.arrow-down {
			
			position: absolute;
			display: block;
			bottom: 2em;
			width: 100vw;
			
			margin: 0 auto;
			max-width: none;
			height: 44px;
			border-radius: 0;

			@include background("../images/arrow-down_2x.png", 44px auto, center center);

		}

		#logo {
			margin-left: -19px;
			// width: 100%;
			max-width: 275px;
		}

	}

	section#info {
		
		.content {
			padding-top: 22px;
			padding-bottom: 8px;
		}

		.column > span:first-child { margin-top: 0; }

		h1 {
			display: inline-block;
			margin-left: -1 * $highlight-indent;
			padding: 3px 2px 0 14px;
			letter-spacing: 0.45em;
			@include same (font-size, margin-top, 1.72rem);
			@include background("../images/highlight-stroke-yellow_2x.png", 100% 66.67%, left top);
		}

		.heading {
			margin-top: 0.18rem;
			@include typeset(1.15rem, 1.8, 0.125em,
				$ss-type-default-font-family, $font-weight-bold);
		}

		.notice {
			font-style: italic;
			text-transform: capitalize;
			color: #999;
		}

		.schedule li:first-child span { margin-top: 0; }
		.schedule li:not(:first-child) { margin-top: 3px; }
		.schedule li:not(:first-child) span { display: inline; }

		.date-time,
		.address {
			margin-top: 0;
			&, span { font-weight: $font-weight-semibold; }
			span { display: inline; }
		}

		.address span { line-height: 1.8; }

	}

}

@media #{ $small-only } {

#landing {

	section#branding {

		display: table;
		width: 100%;
		height: 100vh;

		.container { display: table-cell; vertical-align: middle; }
		.content { display: table; }

	}

	section#info { min-height: 100vh; }

}

}

@media #{ $medium-up } {

#landing {

	section#branding {

		.content { overflow: hidden; }

		.letter-grid {
			
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 1484px;
			height: 450px;

			@include background("../images/letter-grid_2x.png", cover);
			@include vendorize(transform, translatez(0));

		}

		#logo { margin-top: 96px; }

		.arrow-down { display: none; }

	}

	section#info {

		h1 { display: none; }

	}

}

};