/**
 * @file _typography.scss
 * @author Michael Zalla
 * @date 12-01-2014
 * 
 * Sets up the base typographic styles for content elements such as copy,
 * headings, and subheadings, as well as some typographic decorator classes.
 */

/* Typographic layout attributes */

$ss-type-mobile-base-point-size: 14px;
$ss-type-desktop-base-point-size: 14px;
$ss-type-base-line-height: 1;

$ss-type-copy-point-size: 1.15rem;
$ss-type-default-font-family: "Chaparral Pro";

/* Typographic placeholder selectors */

%copy {
	margin-top: $ss-type-copy-point-size * 1.35;
	@include typeset($ss-type-copy-point-size, 1.35, 0.015em,
		$ss-type-default-font-family);
}

%underline {
	padding-bottom: 2px;
	border-bottom: 4px solid $grcd-neon-yellow;
}

%hide-text {
	text-indent: -9999px;
	white-space: nowrap;
	color: transparent;
	@include vendorize("outline", none);
}

%light { color: white; }

.light { @extend %light; }

/* Base typographic styles */

html, body {

	letter-spacing: 0.0em;
	font-weight: $font-weight-regular;
	font-family: $ss-type-default-font-family;
	line-height: $ss-type-base-line-height;
	
	// Font smoothing (for supporting browsers)
	@include vendorize("font-smoothing", antialiased);
	-moz-osx-font-smoothing: grayscale;

	color: $color-type-default;

}

/* Mobile base point size */

@media #{ $small-only } { html { font-size: $ss-type-mobile-base-point-size; }}

/* Desktop base point size */

@media #{ $medium-up } { html { font-size: $ss-type-desktop-base-point-size; }}

/* Copy */

p, span, a, .copy {
	&, &:before, &:after {
		@extend %copy;
	}
}

p a,
span a,
.copy a { display: inline; }

/* Hyperlinks */

a, a:link, a:visited, a:hover, a:active {
	color: $color-anchor-default;
	text-decoration: none;
	@include vendorize(transition, color 0.35s ease-in-out);
	// text-decoration: underline;
	// @include vendorize(text-decoration-color, rgba(0,0,0,0.14));
}

span {  overflow-y: visible; }

span > a {
	display: inline;
	@extend %underline;
	// border-bottom: 1px solid rgba(black,0.12);
	// @include vendorize(transition, border-color 0.35s ease-in-out);
}

a:hover {
	color: $color-anchor-hover;
	span { border-color: rgba(black, 0.24); }
}

a:focus { @include vendorize(outline, none); }

/* Display type */

// h1, h2, h3, h4, h5, h6 {
// 	&, &:before, &:after {
// 		margin-top: $ss-type-copy-point-size * 1.5;
// 		@include typeset($ss-type-copy-point-size, 1.65, 0.0em, $ss-type-default-font-family);
// 		line-height: 1.35;
// 		font-weight: $font-weight-light;
// 	}
// }

// h1, h1:before, h1:after { @include same(font-size, margin-top, 2.75rem); }
// h2, h2:before, h2:after { @include same(font-size, margin-top, 2.44rem); }
// h3, h3:before, h3:after { @include same(font-size, margin-top, 1.84rem); }
// h4, h4:before, h4:after { @include same(font-size, margin-top, 1.40rem); }
// h5, h5:before, h5:after { @include same(font-size, margin-top, 1.00rem); }
// h6, h6:before, h6:after { @include same(font-size, margin-top, 0.84rem); }

// h4, h4:before, h4:after {
// 	font-weight: $font-weight-semibold;
// }

// h5, h5:before, h5:after {
// 	letter-spacing: 0.065em;
// 	font-weight: $font-weight-bold;
// 	text-transform: uppercase;
// }

// h6, h6:before, h6:after {
// 	letter-spacing: 0.115em;
// 	font-weight: $font-weight-bold;
// 	text-transform: uppercase;
// }

/* Primary heading */

h1 { &, &:before, &:after {
	margin-top: 1.72em;
	@include typeset(1.72rem, 1.15, 0.45em, "Brandon Grotesque", $font-weight-bold);
	text-transform: uppercase;
} }

h1.highlight {
	display: inline-block; // for highlight (background) rendering
	padding: 3px 2px 0 14px;
	@include background("../images/highlight-stroke-yellow_2x.png", 100% 66.67%, left top);
}

/* Secondary heading */

h2 { &, &:before, &:after {
	margin-top: 1.50em;
	@include typeset(1.50rem, 1.24, 0.024em, "Proxima Nova", $font-weight-semibold);
	color: rgba(black, 0.4);
} }

/* Headings and subheadings */

.heading,
.heading:before,
.heading:after,
.subheading,
.subheading:before,
.subheading:after {
	display: block;
	text-transform: uppercase;
	font-family: "Proxima Nova";
}

.heading,
.heading:before,
.heading:after {
	margin-top: 1.65em;
	@include typeset(2.15rem, 1.15, 0.275em, "Brandon Grotesque", $font-weight-bold);
}

.subheading,
.subheading:before,
.subheading:after {
	letter-spacing: 0.135em;
	font-weight: $font-weight-bold;
	font-size: 1.0rem;
	line-height: 1.65;
}

/* Labels */

.label { margin-top: 0.96em; }

.label,
.label:before,
.label:after {
	// margin-top: 0.96em;
	text-transform: uppercase;
	@include typeset(0.96rem, 1.15, 0.125em, "Proxima Nova", $font-weight-bold);
}

.label.large { margin-top: 1.24em; }

.label.large,
.label.large:before,
.label.large:after {
	line-height: 1.24;
	font-size: 1.24rem;
}

/* Callouts */

.callout,
.callout:before,
.callout:after {
	display: block;
	font-size: 1.68rem;
	font-weight: $font-weight-light;
	line-height: 1.2;
}

/* Quotes */

.quotes,
.quotes:before,
.quotes:after { font-style: italic; }

.quotes:before { margin-right: 2px; content: "\201C"; }
.quotes:after  {  margin-left: 2px; content: "\201C"; }

/* Forms */

input[type="text"],
input[type="email"],
input[type="password"],
textarea {

	@include typeset(
		1.275rem, 1.3, 0.0em,
		$ss-type-default-font-family,
		$font-weight-light);
	
	color: $color-type-default;

	@include placeholderText(color, $color-gray-2);
	
	@include vendorize(outline, none);
	
}

/* Buttons */

button,
.button {
	
	margin-top: $ss-type-copy-point-size * 1.5;
	@include typeset(0.92rem, 1.65, 0.065em,
		$ss-type-default-font-family, $font-weight-semibold);
	text-transform: uppercase;
	@extend %light;

	&:focus { @include vendorize(outline, none); }

}